.idea
.vscode
.fleet

**/*.pt
**/*.pth

**/*.nlp
**/*.model

**/*.tmp.*

venv
data/MNIST/*
data/MNIST_DATASET/*
data/cat_and_dog/*
data/dogs-vs-cats/*
!data/cat_and_dog/WHY_NOTHING_HERE.md
data/isdog/*

data/nlp/glove.6B.100d.txt

day7/.data/*
