torch==2.0.1+cu118
torchvision
torchaudio
torchsummary
pandas
numpy
matplotlib
seaborn
scikit-learn
tensorflow
opencv-python
pillow
tqdm
statsmodels

# for day 7 rnn-text (book is too old)
# torchtext==0.6.0
torchtext

konlpy
transformers
gensim
nltk
keras